ansible-dev-tools==26.1.0
black==24.10.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.7
docker==7.1.0
hvac==2.1.0
idna==3.6
markdown-it-py==3.0.0
mdurl==0.1.2
mypy-extensions==1.0.0
pycparser==2.21
Pygments==2.17.2
pyspnego==0.10.2
pywinrm==0.4.3
requests==2.31.0
requests-ntlm==1.2.0
six==1.16.0
urllib3==2.2.1
xmltodict==0.13.0
zipp==3.21.0
