---
- name: qBittorrent | Check configuration
  become: true
  slurp:
    src: "{{ homeflix_apps_volume }}/qbittorrent/qBittorrent/qBittorrent.conf"
  register: conf_file

- name: qBittorrent | Determine first run
  set_fact:
    qbittorrent_first_run: "{{ 'Password_PBKDF2' not in (conf_file.content | b64decode) }}"

- name: block - First run tasks
  block:
    - name: qBittorrent | Include task to stop the service
      vars:
        service_name: qbittorrent
      include_tasks: stop_service.yml

    - name: qBittorrent | Generate config file
      vars:
        qb_files:
          - qBittorrent.conf.j2
          - categories.json.j2
      template:
        src: "{{ item }}"
        dest: "{{ homeflix_apps_volume }}/qbittorrent/qBittorrent/{{ item | basename | splitext | first }}"
        owner: 1000
        group: 1000
        mode: 0755
      loop: "{{ qb_files }}"
      loop_control:
        label: "{{ item | basename | splitext | first }}"

    - name: qBittorrent | Include task to restart the service
      vars:
        service_name: qbittorrent
      include_tasks: stop_service.yml

    - name: qBittorrent | Include task to wait for service
      vars:
        service_name: "{{ homeflix_qbittorrent_port }}"
      include_tasks: wait_for_service.yml

  when: qbittorrent_first_run
