---
- name: qBittorrent | Check configuration
  become: true
  slurp:
    src: "{{ homeflix_apps_volume }}/qbittorrent/qBittorrent/qBittorrent.conf"
  register: conf_file

- name: qBittorrent | Determine first run
  set_fact:
    qbittorrent_first_run: "{{ 'Password_PBKDF2' not in (conf_file.content | b64decode) }}"

- name: block - First run tasks
  block:
    - name: qBittorrent | Include task to stop the service
      vars:
        service_name: qbittorrent
      include_tasks: stop_service.yml

    - name: qBittorrent | Copy config file
      copy:
        src: qBittorrent.conf
        dest: "{{ homeflix_apps_volume }}/qbittorrent/qBittorrent/qBittorrent.conf"
        owner: 1000
        group: 1000
        mode: 0664

    - name: qBittorrent | Generate categories file
      template:
        src: categories.json.j2
        dest: "{{ homeflix_apps_volume }}/qbittorrent/qBittorrent/categories.json"
        owner: 1000
        group: 1000
        mode: 0644
  when: qbittorrent_first_run
  notify: 
    - restart qbittorrent
