---
- name: Bazarr | Include task to wait for service
  vars:
    service_port: "{{ homeflix_bazarr_port }}"
  include_tasks: wait_for_service.yml

- name: Bazarr | Check configuration
  become: true
  slurp:
    src: "{{ homeflix_apps_volume }}/bazarr/config/config.yaml"
  register: config_yaml

- name: Bazarr | Determine first run
  set_fact:
    bazarr_first_run: "{{ (config_yaml.content | b64decode | from_yaml).auth.type is none }}"

- name: block - First run tasks
  block:
    - name: Bazarr | Include task to stop the service
      vars:
        service_name: bazarr
      include_tasks: stop_service.yml

    - name: Bazarr | Check Sonarr configuration
      become: true
      slurp:
        src: "{{ homeflix_apps_volume }}/sonarr/config.xml"
      register: sonarr_xml

    - name: Bazarr | Check Radarr configuration
      become: true
      slurp:
        src: "{{ homeflix_apps_volume }}/radarr/config.xml"
      register: radarr_xml

    - name: Bazarr | Copy database
      copy:
        src: bazarr.db
        dest: "{{ homeflix_apps_volume }}/bazarr/db/bazarr.db"
        owner: 1000
        group: 1000
        mode: 0755

    - name: Bazarr | Generate config file
      vars:
        sonarr_api_key: "{{ ((sonarr_xml.content | b64decode) | regex_findall('<ApiKey>(.*?)</ApiKey>'))[0] }}"
        radarr_api_key: "{{ ((radarr_xml.content | b64decode) | regex_findall('<ApiKey>(.*?)</ApiKey>'))[0] }}"
      template:
        src: config.yaml.j2
        dest: "{{ homeflix_apps_volume }}/bazarr/config/config.yaml"
        owner: 1000
        group: 1000
        mode: 0755

    - name: Bazarr | Include task to restart the service
      vars:
        service_name: bazarr
      include_tasks: restart_service.yml

    - name: Bazarr | Include task to wait for service
      vars:
        service_port: "{{ homeflix_bazarr_port }}"
      include_tasks: wait_for_service.yml
  when: bazarr_first_run

# TO DO: Add languages profile with Ansible
# - name: Bazarr | Get existing language profiles
#   uri:
#     url: "http://localhost:{{ homeflix_bazarr_port }}/api/v1/languages/profile"
#     method: GET
#     headers:
#       X-API-Key: "{{ homeflix_bazarr_api_key }}"
#       Accept: "application/json"
#     return_content: true
#   register: existing_lang_profiles

# - name: Bazarr | Create language profiles
#   uri:
#     url: "http://localhost:{{ homeflix_bazarr_port }}/api/v1/languageProfiles"
#     method: POST
#     headers:
#       X-API-Key: "{{ homeflix_bazarr_api_key }}"
#       Content-Type: "application/json"
#     body_format: json
#     body:
#       name: "{{ item.name }}"
#       languages: "{{ item.languages }}"
#       enabled: "{{ item.enabled | default(true) }}"
#       default: "{{ item.default | default(false) }}"
#       cutoff: "{{ item.cutoff | default([]) }}"
#     status_code: 201
#   loop: "{{ homeflix_bazarr_lang_profiles }}"
#   loop_control:
#     label: "{{ item.name }}"
#   when: not ( existing_lang_profiles.json | selectattr('name', 'equalto', item.name) | list | length > 0 )
