---
- name: Prowlarr | Include task to wait for service
  vars:
    service_port: "{{ homeflix_prowlarr_port }}"
  include_tasks: wait_for_service.yml
 
- name: Prowlarr | Check configuration
  become: true
  slurp:
    src: "{{ homeflix_apps_volume }}/prowlarr/config.xml"
  register: config_xml
  tags:
    - update_prowlarr_indexers

- name: Prowlarr | Determine first run
  set_fact:
    prowlarr_api_key: "{{ ((config_xml.content | b64decode) | regex_findall('<ApiKey>(.*?)</ApiKey>'))[0] }}"
    prowlarr_first_run: "{{ ('<AuthenticationMethod>None</AuthenticationMethod>' in (config_xml.content | b64decode | string)) }}"
  tags:
    - update_prowlarr_indexers

- name: block - First run tasks
  block:
    - name: Prowlarr | Include task to stop the service
      vars:
        service_name: prowlarr
      include_tasks: stop_service.yml

    - name: Prowlarr | Copy database
      copy:
        src: prowlarr.db
        dest: "{{ homeflix_apps_volume }}/prowlarr/prowlarr.db"
        owner: 1000
        group: 1000
        mode: 0755

    - name: Prowlarr | Update config file
      replace:
        path: "{{ homeflix_apps_volume }}/prowlarr/config.xml"
        regexp: "<AuthenticationMethod>None</AuthenticationMethod>"
        replace: "<AuthenticationMethod>Forms</AuthenticationMethod>"

    - name: Prowlarr | Include task to restart the service
      vars:
        service_name: prowlarr
      include_tasks: restart_service.yml

    - name: Prowlarr | Include task to wait for service
      vars:
        service_port: "{{ homeflix_prowlarr_port }}"
      include_tasks: wait_for_service.yml
  when: prowlarr_first_run

- name: block - Manage indexers tasks
  block:
    - name: Prowlarr | Get existing indexers
      uri:
        url: "http://localhost:{{ homeflix_prowlarr_port }}/api/v1/indexer"
        method: GET
        headers:
          X-Api-Key: "{{ prowlarr_api_key }}"
        return_content: true
      register: existing_indexers

    - name: Prowlarr | Add indexers
      vars:
        existing_indexer_names: "{{ existing_indexers.json | map(attribute='name') | list }}"
        prowlarr_indexers: "{{ homeflix_prowlarr_indexers + homeflix_prowlarr_indexers_extra }}"
      uri:
        url: "http://localhost:{{ homeflix_prowlarr_port }}/api/v1/indexer"
        method: POST
        headers:
          X-Api-Key: "{{ prowlarr_api_key }}"
          Content-Type: "application/json"
        body_format: json
        body:
          name: "{{ item.name }}"
          enable: true
          implementation: "{{ item.get('implementation', 'Cardigann') }}"
          configContract: "{{ item.get('configContract', 'CardigannSettings') }}"
          appProfileId: 1
          priority: 25
          fields: "{{ item.fields | dict2items(key_name='name', value_name='value') }}"
          tags: "{{ item.tags | default([]) }}"
        status_code: 201
      loop: "{{ prowlarr_indexers }}"
      loop_control:
        label: "{{ item.name }}"
      ignore_errors: true
      when: item.name not in existing_indexer_names

    - name: Prowlarr | Delete indexers
      vars:
        indexers_to_keep: "{{ ( homeflix_prowlarr_indexers + homeflix_prowlarr_indexers_extra ) | map(attribute='name') | list }}"
        indexers_to_delete: "{{ existing_indexers.json | rejectattr('name', 'in', indexers_to_keep) | list }}"
      uri:
        url: "http://localhost:{{ homeflix_prowlarr_port }}/api/v1/indexer/{{ item.id }}"
        method: DELETE
        headers:
          X-Api-Key: "{{ prowlarr_api_key }}"
        status_code: 200
      loop: "{{ indexers_to_delete }}"
      loop_control:
        label: "{{ item.name }}"
      when: indexers_to_delete | length > 0
  tags:
    - update_prowlarr_indexers

- name: block - Manage applications tasks
  block:
    - name: Prowlarr | Get existing applications
      uri:
        url: "http://localhost:{{ homeflix_prowlarr_port }}/api/v1/applications"
        method: GET
        headers:
          X-Api-Key: "{{ prowlarr_api_key }}"
        return_content: true
      register: existing_apps

    - name: Prowlarr | Get Radarr API key
      become: true
      slurp:
        src: "{{ homeflix_apps_volume }}/radarr/config.xml"
      register: radarr_xml

    - name: Prowlarr | Get Sonarr API key
      become: true
      slurp:
        src: "{{ homeflix_apps_volume }}/sonarr/config.xml"
      register: sonarr_xml

    - name: Prowlarr | Add Radarr application
      vars:
        radarr_api_key: "{{ ((radarr_xml.content | b64decode) | regex_findall('<ApiKey>(.*?)</ApiKey>'))[0] }}"
        radarr_exists: "{{ existing_apps.json | selectattr('name', 'equalto', 'Radarr') | list | length > 0 }}"
      uri:
        url: "http://localhost:{{ homeflix_prowlarr_port }}/api/v1/applications"
        method: POST
        headers:
          X-Api-Key: "{{ prowlarr_api_key }}"
          Content-Type: "application/json"
        body_format: json
        body:
          name: "Radarr"
          implementation: "Radarr"
          configContract: "RadarrSettings"
          enable: true
          syncLevel: 2
          fields:
            - name: "apiKey"
              value: "{{ radarr_api_key }}"
            - name: "baseUrl"
              value: "http://radarr:{{ homeflix_radarr_port }}"
            - name: "prowlarrUrl"
              value: "http://prowlarr:{{ homeflix_prowlarr_port }}"
          tags: []
        status_code: 201
      when: not radarr_exists

    - name: Prowlarr | Add Sonarr application
      vars:
        sonarr_exists: "{{ existing_apps.json | selectattr('name', 'equalto', 'Sonarr') | list | length > 0 }}"
        sonarr_api_key: "{{ ((sonarr_xml.content | b64decode) | regex_findall('<ApiKey>(.*?)</ApiKey>'))[0] }}"
      uri:
        url: "http://localhost:{{ homeflix_prowlarr_port }}/api/v1/applications"
        method: POST
        headers:
          X-Api-Key: "{{ prowlarr_api_key }}"
          Content-Type: "application/json"
        body_format: json
        body:
          name: "Sonarr"
          implementation: "Sonarr"
          configContract: "SonarrSettings"
          enable: true
          syncLevel: 2
          fields:
            - name: "apiKey"
              value: "{{ sonarr_api_key }}"
            - name: "baseUrl"
              value: "http://sonarr:{{ homeflix_sonarr_port }}"
            - name: "prowlarrUrl"
              value: "http://prowlarr:{{ homeflix_prowlarr_port }}"
          tags: []
        status_code: 201
      when: not sonarr_exists
