---
- name: Jellyfin | Wait until configuration is loaded
  uri:
    url: "http://localhost:{{ homeflix_jellyfin_port }}/Startup/Configuration"
    method: GET
    headers:
      X-Emby-Token: "{{ homeflix_jellyfin_api_key }}"
  register: jellyfin_up
  until: jellyfin_up.status == 200
  retries: 30
  delay: 5

- name: Jellyfin | Check system configuration
  become: true
  slurp:
    src: "{{ homeflix_apps_volume }}/jellyfin/system.xml"
  register: system_xml

- name: Jellyfin | Determine first run
  set_fact:
    jellyfin_first_run: "{{ ('<IsStartupWizardCompleted>false</IsStartupWizardCompleted>' in (system_xml.content | b64decode | string)) }}"

- name: block - First run tasks
  block:
    - name: Jellyfin | Include task to stop the service
      vars:
        service_name: jellyfin
      include_tasks: stop_service.yml

    # - name: Jellyfin | Remove initial installation
    #   file:
    #     path: "{{ homeflix_apps_volume }}/jellyfin"
    #     state: absent

    # - name: Jellyfin | Extract preconfigured installation
    #   unarchive:
    #     src: jellyfin.tar.xz
    #     dest: "{{ homeflix_apps_volume }}"
    #     remote_src: false
    #     owner: 1000
    #     group: 1000
    #     mode: 0755

    - name: Jellyfin | Copy database
      copy:
        src: jellyfin.db
        dest: "{{ homeflix_apps_volume }}/jellyfin/data/data/jellyfin.db"
        owner: 1000
        group: 1000
        mode: 0644

    - name: Jellyfin | Update config file
      replace:
        path: "{{ homeflix_apps_volume }}/jellyfin/system.xml"
        regexp: "<IsStartupWizardCompleted>false</IsStartupWizardCompleted>"
        replace: "<IsStartupWizardCompleted>true</IsStartupWizardCompleted>"

    - name: Jellyfin | Include task to restart the service
      vars:
        service_name: jellyfin
      include_tasks: restart_service.yml

    - name: Jellyfin | Wait until configuration is loaded
      uri:
        url: "http://localhost:{{ homeflix_jellyfin_port }}/Startup/Configuration"
        method: GET
        headers:
          X-Emby-Token: "{{ homeflix_jellyfin_api_key }}"
      register: jellyfin_up
      until: jellyfin_up.status == 200
      retries: 30
      delay: 5
  when: jellyfin_first_run

- name: block - Manage server name tasks
  block:
    - name: Jellyfin | Get current server name
      uri:
        url: "http://localhost:{{ homeflix_jellyfin_port }}/Startup/Configuration"
        method: GET
        headers:
          X-Emby-Token: "{{ homeflix_jellyfin_api_key }}"
        return_content: true
      register: startup_config

    - name: Jellyfin | Update server name
      uri:
        url: "http://localhost:{{ homeflix_jellyfin_port }}/Startup/Configuration"
        method: POST
        headers:
          X-Emby-Token: "{{ homeflix_jellyfin_api_key }}"
          Content-Type: "application/json"
        body_format: json
        body:
          ServerName: "{{ homeflix_jellyfin_server_name }}"
        status_code: 204
      when: startup_config.json.ServerName != homeflix_jellyfin_server_name
  tags:
    - update_jellyfin_server_name

- name: block - Manage users tasks
  block:
    - name: Jellyfin | Get existing users
      uri:
        url: "http://localhost:{{ homeflix_jellyfin_port }}/Users"
        method: GET
        headers:
          X-Emby-Token: "{{ homeflix_jellyfin_api_key }}"
        return_content: true
        status_code: 200
      register: existing_users

    - name: Jellyfin | Add users
      vars:
        existing_users_names: "{{ existing_users.json | map(attribute='Name') | list }}"
      uri:
        url: "http://localhost:{{ homeflix_jellyfin_port }}/Users/New"
        method: POST
        headers:
          X-Emby-Token: "{{ homeflix_jellyfin_api_key }}"
          Content-Type: "application/json"
        body_format: json
        body:
          Name: "{{ item.username }}"
          Password: "{{ item.password }}"
          AuthenticationProviderId: "Jellyfin.Server.Implementations.Users.DefaultAuthenticationProvider"
          PasswordResetProviderId: "Jellyfin.Server.Implementations.Users.DefaultPasswordResetProvider"
        status_code: 200
      loop: "{{ homeflix_jellyfin_users }}"
      loop_control:
        label: "{{ item.username }}"
      when: item.username not in existing_users_names

    - name: Jellyfin | Delete users
      vars:
        users_to_keep: "{{ (homeflix_jellyfin_users | map(attribute='username') | list) + ['admin'] }}"
        users_to_delete: "{{ existing_users.json | rejectattr('Name', 'in', users_to_keep) | list }}"
      uri:
        url: "http://localhost:{{ homeflix_jellyfin_port }}/Users/{{ item.Id }}"
        method: DELETE
        headers:
          X-Emby-Token: "{{ homeflix_jellyfin_api_key }}"
        status_code: 204
      loop: "{{ users_to_delete }}"
      loop_control:
        label: "{{ item.Name }}"
      when: users_to_delete | length > 0

    - name: Jellyfin | Refresh users
      uri:
        url: "http://localhost:{{ homeflix_jellyfin_port }}/Users"
        method: GET
        headers:
          X-Emby-Token: "{{ homeflix_jellyfin_api_key }}"
        return_content: true
        status_code: 200
      register: existing_users

    - name: Jellyfin | Update users policy
      vars:
        existing_user_info: "{{ (existing_users.json | selectattr('Name', 'equalto', item.username) | list | first) }}"
        existing_user_id: "{{ existing_user_info.Id }}"
        existing_user_policy: "{{ existing_user_info.Policy | default({}) }}"
      uri:
        url: "http://localhost:{{ homeflix_jellyfin_port }}/Users/{{ existing_user_id }}/Policy"
        method: POST
        headers:
          X-Emby-Token: "{{ homeflix_jellyfin_api_key }}"
          Content-Type: "application/json"
        body_format: json
        body: >
          "{{ existing_user_policy | combine({
            'IsAdministrator': item.isAdmin | default(false),
            'IsHidden': item.isHidden | default(true),
            'EnableUserPreferenceAccess': true,
            'EnableRemoteAccess': true,
            'EnableAllFolders': true}, recursive=True)
          }}"
        status_code: 204
      loop: "{{ homeflix_jellyfin_users }}"
      loop_control:
        label: "{{ item.username }}"
      when: >
        existing_user_policy.IsHidden != item.isHidden | default(true) or
        existing_user_policy.IsAdministrator != item.isAdmin | default(false)
  tags:
    - update_jellyfin_users

- name: block - Manage libraries tasks
  # NOTE:
  # library location fields in not reconized via API request
  # for new libraries, it has to be added manually from Web UI
  # for movies and tv shows, location is present in database
  # TO DO:
  # delete libraries with Ansible
  block:
    - name: Jellyfin | Get existing libraries
      uri:
        url: "http://localhost:{{ homeflix_jellyfin_port }}/Library/VirtualFolders"
        method: GET
        headers:
          X-Emby-Token: "{{ homeflix_jellyfin_api_key }}"
        return_content: true
        status_code: 200
      register: existing_libraries

    - name: Jellyfin | Create libraries
      vars:
        jellyfin_libraries: "{{ homeflix_jellyfin_libraries + homeflix_jellyfin_libraries_extra }}"
      uri:
        url: "http://localhost:{{ homeflix_jellyfin_port }}/Library/VirtualFolders?name={{ item.name | urlencode }}&CollectionType={{ item.collection_type }}"
        method: POST
        headers:
          X-Emby-Token: "{{ homeflix_jellyfin_api_key }}"
          Content-Type: application/json
        body_format: json
        body:
          LibraryOptions:
            PathInfos:
              - Path: "{{ item.path }}"
        status_code: [201, 204]
      loop: "{{ jellyfin_libraries }}"
      loop_control:
        label: "{{ item.name }}"
      when: >
        existing_libraries.json | selectattr('Name', 'equalto', item.name) | list | length == 0

    - name: Jellyfin | Refresh libraries
      uri:
        url: "http://localhost:{{ homeflix_jellyfin_port }}/Library/Refresh"
        method: POST
        headers:
          X-Emby-Token: "{{ homeflix_jellyfin_api_key }}"
        status_code: 204
  tags:
    - update_jellyfin_libraries

- name: block - Manage plugins tasks
  block:
    - name: Jellyfin | Get installed plugins
      uri:
        url: "http://localhost:{{ homeflix_jellyfin_port }}/Plugins"
        method: GET
        headers:
          X-Emby-Token: "{{ homeflix_jellyfin_api_key }}"
          Accept: "application/json"
        return_content: true
      register: installed_plugins

    - name: Jellyfin | Download plugins
      get_url:
        url: "{{ item.src }}"
        dest: "/tmp/{{ item.src | basename }}"
      loop: "{{ homeflix_jellyfin_plugins }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Jellyfin | Create plugins directory
      file:
        path: "{{ homeflix_apps_volume }}/jellyfin/data/plugins/{{ item.name }}"
        state: directory
        owner: 1000
        group: 1000
        mode: 0755
      loop: "{{ homeflix_jellyfin_plugins }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Jellyfin | Install plugins
      unarchive:
        src: "/tmp/{{ item.src | basename }}"
        dest: "{{ homeflix_apps_volume }}/jellyfin/data/plugins/{{ item.name }}"
        remote_src: true
        owner: 1000
        group: 1000
        mode: 0755
        creates: "{{ homeflix_apps_volume }}/jellyfin/data/plugins/{{ item.name }}/plugin.json"
      register: install_plugins
      loop: "{{ homeflix_jellyfin_plugins }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Jellyfin | Uninstall plugins
      vars:
        installed_plugin_list: "{{ installed_plugins.json | map(attribute='Name') | list }}"
        desired_plugins: "{{ homeflix_jellyfin_plugins | map(attribute='name') | list }}"
        default_plugins: [AudioDB, MusicBrainz, OMDb, Studio Images, TMDb]
        removable_plugins: "{{ installed_plugin_list | difference(desired_plugins + default_plugins) }}"
      file:
        path: "{{ homeflix_apps_volume }}/jellyfin/data/plugins/{{ item }}"
        state: absent
      register: uninstall_plugins
      loop: "{{ removable_plugins }}"
      loop_control:
        label: "{{ item }}"
  tags:
    - update_jellyfin_plugins

- name: block - Manage brading tasks
  block:
    - name: Jellyfin | Copy splash screen
      copy:
        src: "splash-screen.jpg"
        dest: "{{ homeflix_apps_volume }}/jellyfin/data/data/splashscreen-upload.jpg"
        owner: 1000
        group: 1000
        mode: 0644

    - name: Jellyfin | Generate branding xml
      template:
        src: branding.xml.j2
        dest: "{{ homeflix_apps_volume }}/jellyfin/branding.xml"
        owner: 1000
        group: 1000
        mode: 0644
      register: branding_xml
  tags:
    - update_jellyfin_branding

# DO NOT change position of the following tasks block
# Issue: handler not found when it has to be executed
- name: block - Restart container tasks
  block:
    - name: Jellyfin | Include task to restart the service
      vars:
        service_name: jellyfin
      include_tasks: restart_service.yml

    - name: Jellyfin | Wait until configuration is loaded
      uri:
        url: "http://localhost:{{ homeflix_jellyfin_port }}/Startup/Configuration"
        method: GET
        headers:
          X-Emby-Token: "{{ homeflix_jellyfin_api_key }}"
      register: jellyfin_up
      until: jellyfin_up.status == 200
      retries: 30
      delay: 5
  when: >
    ( branding_xml is defined and branding_xml.changed ) or
    ( uninstall_plugins is defined and uninstall_plugins.changed ) or
    ( install_plugins is defined and install_plugins.changed ) or
    ( splash_screen is defined and splash_screen.changed )
  tags:
    - update_jellyfin_plugins
    - update_jellyfin_branding
