---
- name: Seerr | Include task to wait for service
  vars:
    service_port: "{{ homeflix_seerr_port }}"
  include_tasks: wait_for_service.yml

- name: Seerr | Check settings
  become: true
  slurp:
    src: "{{ homeflix_apps_volume }}/seerr/settings.json"
  register: settings_json

- name: Seerr | Get Radarr API key
  slurp:
    src: "{{ homeflix_apps_volume }}/radarr/config.xml"
  register: radarr_xml

- name: Seerr | Get Sonarr API key
  slurp:
    src: "{{ homeflix_apps_volume }}/sonarr/config.xml"
  register: sonarr_xml

- name: Seerr | Determine first run
  set_fact:
    seerr_first_run: "(settings_json.content | b64decode | from_json).public.initialized"

# TO DO: find a way to configure seer using ansible
# - name: block - First run tasks
#   block:
#     - name: Seerr | Include task to stop the service
#       vars:
#         service_name: seerr
#       include_tasks: stop_service.yml

#     - name: Seerr | Get Jellyfin system info
#       uri:
#         url: "http://localhost:{{ homeflix_jellyfin_port }}/System/Info"
#         headers:
#           X-Emby-Token: "{{ homeflix_jellyfin_api_key }}"
#         return_content: true
#       register: jf_info

#     - name: Seerr | Get Jellyfin libraries
#       uri:
#         url: "http://localhost:{{ homeflix_jellyfin_port }}/Library/VirtualFolders"
#         method: GET
#         headers:
#           X-Emby-Token: "{{ homeflix_jellyfin_api_key }}"
#         return_content: true
#         status_code: 200
#       register: jf_libs

#     - name: Seerr | Get Radarr API key
#       slurp:
#         src: "{{ homeflix_apps_volume }}/radarr/config.xml"
#       register: radarr_xml

#     - name: Seerr | Get Sonarr API key
#       slurp:
#         src: "{{ homeflix_apps_volume }}/sonarr/config.xml"
#       register: sonarr_xml

#     - name: Seerr | Copy database
#       copy:
#         src: db.sqlite3
#         dest: "{{ homeflix_apps_volume }}/seerr/db/db.sqlite3"
#         owner: 1000
#         group: 1000
#         mode: 0644

#     - name: Seerr | Generate settings file
#       vars:
#         jf_server_id: "{{ jf_info.json.Id }}"
#         jf_libs_json: "{{ jf_libs.json }}"
#         radarr_api_key: "{{ (radarr_xml.content | b64decode | regex_findall('<ApiKey>(.*?)</ApiKey>') | first) }}"
#         sonarr_api_key: "{{ (sonarr_xml.content | b64decode | regex_findall('<ApiKey>(.*?)</ApiKey>') | first) }}"
#       template:
#         src: settings.json.j2
#         dest: "{{ homeflix_apps_volume }}/seerr/settings.json"
#         owner: 1000
#         group: 1000
#         mode: 0755

#     - name: Seerr | Include task to restart the service
#       vars:
#         service_name: seerr
#       include_tasks: restart_service.yml

#     - name: Seerr | Include task to wait for service
#       vars:
#         service_port: "{{ homeflix_seerr_port }}"
#       include_tasks: wait_for_service.yml
#   when: seerr_first_run

- name: Create configuration txt file
  vars:
    radarr_api_key: "{{ (radarr_xml.content | b64decode | regex_findall('<ApiKey>(.*?)</ApiKey>') | first) }}"
    sonarr_api_key: "{{ (sonarr_xml.content | b64decode | regex_findall('<ApiKey>(.*?)</ApiKey>') | first) }}"
  copy:
    dest: /tmp/seerr.txt
    content: |
      Seerr (manual configuration)
      ====================================
      1. Click here http://localhost:{{ homeflix_seerr_port }}
      2. Choose Jellyfin server
      3. URL: http://jellyfin
      4. Choose your credentials for admin user
      5. Sync libraries and enable Movies and TV Shows (optional you can press Start Scan)
      6. Add Sonarr and Radarr as default servers with the following API keys:
        - Sonarr API Key: {{ sonarr_api_key }}
          Hostname: http://sonarr
          Port: {{ homeflix_sonarr_port }}
        - Radarr API Key: {{ radarr_api_key }}
          Hostname: http://radarr
          Port: {{ homeflix_radarr_port }}
      7. Enjoy!
  delegate_to: localhost

- name: Display configuration message
  debug:
    msg: Open '/tmp/seerr.txt' to see manual configuration steps for Seerr
