---
- name: block - Manage directories tasks
  block:
    - name: Install | Create homeflix directories
      file:
        path: "{{ item }}"
        state: directory
        owner: 1000
        group: 1000
        mode: 0755
      loop:
        - "{{ homeflix_apps_volume }}"
        - "{{ homeflix_data_volume }}"

    - name: Install | Create services directories
      file:
        path: "{{ homeflix_apps_volume }}/{{ item.name }}"
        state: directory
        owner: 1000
        group: 1000
        mode: 0755
      loop: "{{ homeflix_docker_services }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Install | Create data directories
      file:
        path: "{{ homeflix_data_volume }}/{{ item }}"
        state: directory
        owner: 1000
        group: 1000
        mode: 0755
      loop: "{{ homeflix_data_folders }}"
      loop_control:
        label: "{{ item }}"

- name: block - Manage docker services tasks
  block:
    - name: Install | Generate docker compose file
      template:
        src: docker-compose.yml.j2
        dest: "{{ homeflix_apps_volume }}/docker-compose.yml"
        owner: 1000
        group: 1000
        mode: 0644

    - name: Install | Run docker compose
      become: true
      community.docker.docker_compose_v2:
        project_src: "{{ homeflix_apps_volume }}"
        state: present
        remove_orphans: true
        build: never
      register: services_result
  tags:
    - update_docker_compose
